@charset "UTF-8";

/*----------------------*/
*{
	margin:0;
	padding:0;
}

body {
	background: #fff;
	color: #003d4c;
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	line-height: 1.5em;
	font-size:90%;
	margin: 0;
	word-wrap:break-word;
}

h1,h2,h3,h4,h5,h6{
	font-size: 125%;
	margin: 0.4em 0;
}

h2{font-size: 125%;color:#D30;}
h3{font-size: 120%;color:#267;}
h4{font-size: 115%;color:#993;}
h5{font-size: 110%;}
h6{font-size: 105%;}

a{color:#034;font-weight: bold;}
a:hover{color:#378;text-decoration: none;}

p{padding:0.3em 0;}

table{
	border-collapse: collapse;
}

tr{
}

td,th{
	vertical-align: top;
	margin:0;
	padding:5px 2px;
}

hr{
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #AAA;
}

textarea{
	width:90%;
	height:5em;
	font-size:100%;
	font-family:transparent;
	padding:0.3em;
}

input{
	max-width: 100%;
}

input[type="text"],input[type="password"], textarea{
	clear: both;
	font-family: "frutiger linotype","lucida grande","verdana",sans-serif;
	font-size: 100%;
	padding: 1%;
	width: 98%;
}

img{
	max-width: 100%;
}

/*----------------------*/
#container{
	padding:0.3em;
}

/*----------------------*/
.header{
	padding:0.2em;
	margin: 0;
}
.header ul:after {
	content:"";
	clear:both;
	display:block;
}
.header ul li {
	display:block;
	float:left;
	height:auto;
	list-style-type:none;
}
.header ul li {
	width:50%;
}

.header_title{
	font-size:100%;
}
.header_title a{
	text-decoration: none;
}

.menu{
	padding:0.3em 0;
}
.menu ul:after {
	content:"";
	clear:both;
	display:block;
}
.menu ul li {
	display:block;
	float:left;
	height:auto;
	list-style-type:none;
	text-align:center;
}
.menu ul li {
	width:25%;
}


/* pagination */
ul.pagination {
	display: inline-block;
	padding: 0;
	margin: 0.5em 0;
}
ul.pagination li {
	display: inline;
}
ul.pagination li a {
	color: black;
	float: left;
	padding: 4px 10px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
}
.pagination li:first-child a {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.pagination li:last-child a {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
ul.pagination li a.active {
	background-color: #4CAF50;
	color: white;
	border: 1px solid #4CAF50;
}
ul.pagination li a:hover:not(.active) {
	background-color: #ddd;
}

.every_other_row_odd tr:nth-child(2n-1) {
	background: #EFEFEF;
	border-bottom:1px solid #DDD;
	border-top:1px solid #DDD;
}
.every_other_row_even tr:nth-child(2n) {
	background: #EFEFEF;
	border-bottom:1px solid #DDD;
	border-top:1px solid #DDD;
}

.actions a,
.actions input[type="submit"],
.actions input[type="file"],
.actions button {
	background: #DDD -moz-linear-gradient(center top , #EEE, #DDD) repeat scroll 0 0;
	border: 1px solid #BBB;
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
	color: #333;
	font-size:100%;
	font-weight: normal;
	min-width: 0;
	padding: 2px;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFF;
}
.actions a:hover,
.actions input[type="submit"]:hover,
.actions input[type="file"]:hover,
.actions button:hover {
	background: #EEE none repeat scroll 0 0;
	border-color: #AAA;
	text-decoration: none;
}

.error_message{
	color:#C33;
}

.user_photo{
	height:65px;
	border-radius: 5px;
}
.user_photo_min{
	height:30px;
	border-radius: 3px;
}

.fav_album{
	cursor: pointer;
}

.fav_track{
	cursor: pointer;
}

.album_search_result{
	border:1px solid #AAA;
	margin:0.5em 0;
	padding: 0.5em;
	border-radius:0.5em;
}
.album_search_result:hover{
	background-color: #FED;
}

.album_cover {
	margin:0.2em;
	width:65px;
}

.album_search_cover_result{
	border:5px solid #FFF;
	margin:0.2em;
	width:65px;
}
.album_search_cover_result:hover{
	border:5px solid #3C3;
}

.pager{
	text-align: center;
}

.sync_point_days{
	background: #e99 none repeat scroll 0 0;
	border-radius: 5px;
	color: #eee;
	font-family: "Gill Sans","lucida grande",helvetica,arial,sans-serif;
	font-weight: bold;
	margin: 5px 0;
	padding: 0 8px;
}

.group{
	padding:3px;
	margin:8px 0;
	border:1px solid #AAA;
	border-radius: 10px;
}

/*----------------------*/
#id_itunes_search_results{
	display: none;
	overflow: hidden;
}

/*----------------------*/
.w100per{width:100%;}
.w50per{width:50%;}
.w25per{width:25%;}
.w20per{width:20%;}
.w30px{width:30px;}
.w50px{width:50px;}
.w80px{width:80px;}
.taright{text-align: right;}
.taleft{text-align: left;}
.tacenter{text-align: center;}
.bgddd{background-color: #DDD;}
.bgeee{background-color: #EEE;}
.bgfff{background-color: #FFF;}
.bgtrsp{background-color: transparent;}
.displaynone{display: none;}
.vtalgtop{vertical-align:top;}
.vtalgmiddle{vertical-align:middle;}
.vtalgbottom{vertical-align:bottom;}
.bordernone{border:none;}