@charset "UTF-8";

/*------------*/
*{
	margin:0;padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #fff;
	background-image: url("../img/noisy-texture-a50.png");
	text-shadow: 0px 0px 3px #DDD;
	color: #012;
	font-family:'lucida grande',verdana,helvetica,arial,"游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	line-height: 1.6em;
	font-size:95%;
	margin: 0;
	word-wrap:break-word;
}

h1,h2,h3,h4,h5,h6{font-size: 125%;margin:0; padding:5px;}
h2{font-size: 125%;color:#D30;}
h3{font-size: 120%;color:#267;}
h4{font-size: 115%;color:#498;}
h5{font-size: 110%;}
h6{font-size: 105%;}

a{
	color:#06C;
	font-weight: bold;
	text-decoration: none;
	word-break: break-all;
}
a:hover{
	text-decoration: underline;
}

p{padding:3px 0;}

table{border-collapse: collapse;}
tr{}
td,th{
	vertical-align: top;
	margin:0;
	padding:3px 2px;
}

hr{
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #AAA;
}

textarea{
	width:100%;
	height:8em;
	font-size:100%;
	font-family:transparent;
	padding:0.3em;
}

input{max-width: 100%;}

input[type="text"],input[type="password"], textarea{
	clear: both;
	font-family: "frutiger linotype","lucida grande","verdana",sans-serif;
	font-size: 100%;
	padding: 7px;
	width: 100%;
}

img{max-width: 100%; vertical-align: middle; height: auto;}
img.album_view_cover {width: 120px;}

ul,ol,dl{list-style:none;}
li{display:list-item;zoom:normal;}
iframe{max-width: 100%};

/* #container */
#container{
	margin:0;
	padding:0;
}

/* .header */
.header{
	padding:5px;
	margin: 0;
	width:100%;
	display:table;
}
.header_block{
	display: table-cell;
	width:50%;
	margin:0;
	padding:0;
}
.header_title{
	font-size:100%;
	background-image: url("../img/headphone_icon_S.png");
	background-repeat: no-repeat;
	height: 50px;
	padding: 18px 0  0 55px;
	margin: 0;
	-webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}
.header_title a{text-decoration: none;}

/* .footer */
.footer{
	padding:10px;
}

/* .copyright */
.copyright{
	text-align: right;
	font-style: italic;
}

/*------------*/
.contents{
	padding:10px 0;
}

/* .menu */
.menu{
	margin:0;
	padding:0;
	width:100%;
	display: table;
}
.menu img{
	width:24px;
	height:24px;
}
.menu_block{
	margin:0;
	padding:0;
	text-align: center;
	display: table-cell;
	border-bottom:2px solid transparent;
	transition: .2s;
}
.menu_block_active{
	border-bottom:2px solid #06C;
}
.menu_block:hover{
	filter:invert(100%);
	text-shadow:none;
	border-bottom:2px solid #06C;
}
.menu_block a:hover{
	text-decoration: none;
}

/*------------*/
#dropmenu_normal{
	cursor:pointer;
}
.dropmenu{
  *zoom: 1;
  width: 100%;
  margin: 0;
	margin-top:5px;
  padding: 0;
	display:none;
	position:relative;
}
.dropmenu ul{
	position: absolute;
	right : 0;
	margin : 0;
}
.dropmenu li{
	background: #0066cc;
	padding:10px 5px;
}
.dropmenu li:hover{
  background: #0099CC;
}
.dropmenu li:first-child{
	border-radius: 5px 0 0 0;
}
.dropmenu li:last-child{
	border-radius: 0 0 5px 5px;
}
.dropmenu li a{
	color:#FFF;
}
.dropmenu li a:hover{
	text-decoration: none;
}

/* .auth */
.auth{
}

/* .user_edit */
.user_edit{
	margin:5px;
	padding: 5px 0;
}
.user_edit_menu div{
	padding:5px;
	margin: 0 5px;
	background: rgba(230,230,230,0.7);
	border-radius: 5px 5px 0 0;
	border:1px solid #CCC;
	text-align:center;
}
.user_edit_menu div.active{
	background: rgba(255,255,255,0.7);
	border-bottom:none;
}
.user_edit_area{
	padding:5px;
	margin: 0;
	background: rgba(255,255,255,0.7);
	border-radius: 0 0 5px 5px;
	border:1px solid #CCC;
	border-top:none;
}

/* .user_block */
.user_block{
	background-color: rgba(255, 255, 255, 0.7);
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 10px 0;
	padding: 10px;
}

/* .info */
.info{
	background-color: rgba(255,255,255,0.7);
	padding:10px;
	border-top:1px solid #CCC;
}
.info:last-child{
	border-bottom:1px solid #CCC;
}
.info_user{
	background-color: rgba(255,255,255,0.7);
	padding:5px;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
}

/* .form_ */
.form_info{
	padding:5px;
}

/* .tabs */
.search_tab{
	padding:5px;
}
.search_tab div.tab {
	background-color: rgba(220,220,220,1.0);
	padding:5px;
	border-radius: 5px 5px 0 0;
	border:1px solid #BBB;
	cursor:pointer;
}
.search_tab div.tab.active {
	background-color: rgba(255,255,255,1.0);
	border-bottom: 1px solid transparent;
}
.search_tab div.notab {
	cursor: auto;
	background-color:transparent;
	border-bottom:1px solid #BBB;
}
.search_tab div.search_type {
	background-color: rgba(255,255,255,1.0);
	padding:10px;
	border:1px solid #BBB;
	border-top:0px solid transparent;
	border-bottom:0px solid transparent;
}
.search_tab div.tabContent {
	background-color: rgba(255,255,255,1.0);
	border-top: 0px solid transparent;
	padding: 5px;
	width: 100%;
	display: none;
	text-align:center;
	border-radius: 0 0 5px 5px;
	border:1px solid #BBB;
	border-top:0px solid transparent;
}
.search_tab div.tabContent.active {
	display: block;
}
.search_tab ul.search_index {
	display: inline-block;
	padding: 0;
	margin: 5px 0;
}
.search_tab ul.search_index li {display: inline;}
.search_tab ul.search_index li a {
	text-align: center;
	color: black;
	float: left;
	width:2.5em;
	margin:3px;
	padding: 4px 8px;
	text-decoration: none;
	border: 1px solid #AAA;
	transition: .3s;
	border-radius: 3px;
}
.search_tab ul.search_index li a.active {
	background-color: #4CAF50;
	color: white;
	border: 1px solid #4CAF50;
}
.search_tab ul.search_index li a:hover:not(.active){
	background-color: #AAA;
}

/* .user_menu_list */
.user_menu_list {padding:10px 0}

/* .pagination */
ul.pagination {
	display: inline-block;
	padding: 0;
	margin: 0.5em 0;
}
ul.pagination li {display: inline;}
ul.pagination li a {
	color: black;
	float: left;
	padding: 4px 10px;
	text-decoration: none;
	transition: background-color .2s;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	background-color: #FFF;
}
.pagination li:first-child a {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.pagination li:last-child a {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-right: 1px solid #CCC;
}
ul.pagination li a.active {
	background-color: #4CAF50;
	color: white;
	border: 1px solid #4CAF50;
}
ul.pagination li a:hover:not(.active){background-color: #ddd;}

/* .every_other_row_* */
.every_other_row_odd tr:nth-child(2n-1) {
	/*background: #EFEFEF;*/
	background: rgba(230,230,230,0.5);
	border-bottom:1px solid #CCC;
	border-top:1px solid #CCC;
}
.every_other_row_even tr:nth-child(2n) {
	/*background: #EFEFEF;*/
	background: rgba(230,230,230,0.5);
	border-bottom:1px solid #CCC;
	border-top:1px solid #CCC;
}

/* .search */
dl.search{
	position:relative;
	margin: 6px 0;
}
dl.search dt{
	margin-right:105px;
	padding:8px;
	background-color:#fff;
	border:1px solid #aaa;
	border-radius: 6px 0 0 6px;
}
dl.search dt input[type="text"]{
	font-size: 100%;
	padding:0;
	width:100%;
	height:24px;
	line-height:24px;
	background:none;
	border:none;
}
dl.search dd{
	position:absolute;
	top:0;
	right:0;
}
dl.search dd input[type="submit"]{
	display:block;
	width:100px;
	height:42px;
	color:#fff;
	line-height:40px;
	font-size:100%;
	text-align:center;
	background-color:#494;
	border:none;
	border-radius: 0 6px 6px 0;
}
dl.search dd input[type="submit"]:hover{
	background-color:#4A5;
}

/* .action */
.actions a,
.actions input[type="submit"],
.actions input[type="file"],
.actions button {
	background: #DDD -moz-linear-gradient(center top , #EEE, #DDD) repeat scroll 0 0;
	border: 1px solid #BBB;
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
	color: #333;
	font-size:100%;
	font-weight: normal;
	min-width: 0;
	padding: 2px;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFF;
}
.actions a:hover,
.actions input[type="submit"]:hover,
.actions input[type="file"]:hover,
.actions button:hover {
	background: #EEE none repeat scroll 0 0;
	border-color: #AAA;
	text-decoration: none;
}

/* .user_photo */
.user_photo{
	width:120px;
	padding: 4px;
}
.user_photo img{
	width:100px;
	height:auto;
	border-radius: 5px;
}
.user_photo_min{height:30px;border-radius: 3px;}
.user_profile{
	background: rgba(255,255,255,0.7);
	border:1px solid #CCC;
	margin:5px 0;
	padding:5px;
	border-radius: 5px;
}

/* .review */
.review{
	background-color: rgba(255,255,255,0.7);
	margin:5px 0;
	padding:5px;
	border:1px solid #CCC;
	border-radius: 5px
}
.review_comment{
	padding: 1em 0;
}

/* .fav_ */
.fav_album{cursor: pointer;}
.fav_track{cursor: pointer;}
.fav_review{cursor: pointer; width:16px; height:16px;}
.fav_review_user_lists{
	margin: 5px 0;
	padding:5px 0;
	border-top:1px solid #DDD;
	color:#666;
}

/* .album_ */
.album_info{
	background-color: rgba(255,255,255,0.7);
	margin:5px 0;
	padding:5px;
	border:1px solid #CCC;
	border-radius: 5px
}
.album_search_result{
	border:1px solid #AAA;
	margin:0.5em 0;
	padding: 0.5em;
	border-radius:0.5em;
	background-color: #FFF;
}
.album_search_result:hover{
	background-color: #FED;
}
.album_cover {
	width:140px;
}
.album_cover img {
	margin:5px;
	width:120px;
	height: auto;
	transition: opacity .2s;
}
.album_cover img:hover {
	opacity: 0.7;
}
.album_search_cover_result{
	border:5px solid #FFF;
	margin:0.2em;
	width:65px;
}
.album_search_cover_result:hover{
	border:5px solid #3C3;
}

/* .track_ */
.track_info{
	background-color: rgba(255,255,255,0.7);
	margin:5px 0;
	padding:5px;
	border:1px solid #CCC;
	border-radius: 5px
}
.track_info div.track{
	border-bottom: 1px solid #CCC;
}
.track_info div.track:last-child{
	border-bottom: none;
}

/* .itunes_ */
.itunes_info{
	background-color: rgba(255,255,255,0.7);
	margin:5px 0;
	padding:5px;
	border:1px solid #CCC;
	border-radius: 5px
}
.itunes_info div.data{
	border-bottom: 1px solid #CCC;
	padding:5px;
}
.itunes_info div.data:last-child{
	border-bottom: none;
}

/* .gpm_ */
.gpm_info{
	background-color: rgba(255,255,255,0.7);
	margin:5px 0;
	padding:5px;
	border:1px solid #CCC;
	border-radius: 5px
}
.gpm_info div.data{
	border-bottom: 1px solid #CCC;
	padding:5px;
}
.gpm_info div.data:last-child{
	border-bottom: none;
}

/* .sync_ */
.sync_menu{
	background-color: rgba(255,255,255,0.5);
	margin:5px 0;
	padding:5px 0;
}
.sync_point_days{
	background: #e99 none repeat scroll 0 0;
	border-radius: 5px;
	color: #FFF;
	font-family: "Gill Sans","lucida grande",helvetica,arial,sans-serif;
	font-weight: bold;
	margin-right: 1em;;
	padding: 2px 5px;
}
.sync_artists:after{
	content:"/";
}
.sync_artists:last-child:after{
	content:"";
}

.sync_review{
	margin:10px 0;
	padding:10px;
	background-color:#EEF;
	border: 1px solid #DDE;
}

/* tags */
.tag_group{
	width:100%;
	height: auto;
}
.tags{
	background: #99E none repeat scroll 0 0;
	border-radius: 5px;
	color: #FFF;
	font-family: "Gill Sans","lucida grande",helvetica,arial,sans-serif;
	font-weight: bold;
	margin: 5px 3px;
	padding: 2px 5px;
	white-space: nowrap;
	display: inline-block;
	height:auto;
}
.tags a{
	color:#FFF;
	height:auto;
}
.tags a:hover{
	color:#FC0;
}
.tag_delete{
	cursor:pointer;
	padding-right:10px;
	color: #3333ff;
}
.tag_delete:hover{
	color: #ff3333;
}

.group{
	margin:10px 0;
	border:1px solid #AAA;
	border-radius: 2px;
	background-color:rgba(250,250,250,0.7);
}

.error_message{color:#C33;}

/* .post */
.post{
	background-color: rgba(255,255,255,0.7);
	margin:5px 0;
	padding:5px;
	border:1px solid #CCC;
	border-radius: 5px
}
.post_body{
	word-wrap:break-word;
}
.post_body a{
	word-break : break-all;
}
.post_date{color:#678;}
.post_date a{color:#678;}
.post_reply{
	cursor:pointer;
	font-weight:bold;
	color:#9AB;
}
.post_reply:hover{
	color:#09C;
}
.post_reply_source_result{
	padding:1em;
	background:rgba(250,250,250,0.30);
	border:1px solid #AAA;
	border-radius: 10px;
}
.post_quote{
	color:#393;
}

/* .link_ */
.link_page_top{
	cursor: pointer;
	display: none;
	opacity: 0.7;
	position: fixed;
	right: 10px;
	bottom: 25px;
}
.link_page_top img:hover{
	filter: invert(100%);
	transition: filter .3s;
}

/* .youtube */
.youtube_iframe{
	max-width:100%;
	width : 560px;
	height : 315px;
}
.youtube_img{
	border-radius: 5px;
	opacity:0.6;
	transition: .3s;
}
.youtube_img:hover{
	opacity:1.0;
}

/* .loading */
.loading{
	-webkit-animation: spin 0.5s linear infinite;
	-moz-animation: spin 0.5s linear infinite;
	-ms-animation: spin 0.5s linear infinite;
	-o-animation: spin 0.5s linear infinite;
	animation: spin 0.5s linear infinite;
}
@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes spin {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin {
	0% {-o-transform: rotate(0deg);}
	100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

/* .drop_zone */
.drop_zone{
	border:2px dotted #AAA;
	border-radius: 5px;
	margin: 0;
	padding: 5px;
	cursor: pointer;
}
.drop_zone_drag{
	margin: 0;
	padding: 5px;
	border: 2px dotted #666;
	border-radius: 5px;
	background: #FE9;
	color: #444;
	cursor: pointer;
}
.drop_zone_dragged{
	margin: 0;
	padding: 5px;
	border: 2px dotted #666;
	background: #dfA;
	color: #444;
	cursor: pointer;
}

/*-----------*/
.about_content{
	margin: 5px;
		padding: 10px;
    font-weight: bold;
		background-color: rgba(255,255,255,0.7);
		border-radius: 5px;
		border: 1px solid #CCC;
}
.about_content_sub{
    padding: 0px 10px;
    font-weight: normal;
}

/*-----------*/
#id_itunes_search_results{
	display: none;
	overflow: hidden;
}
#id_gpm_search_results{
	display: none;
	overflow: hidden;
}

/*-----------*/
.w100per{width:100%;}
.w50per{width:50%;}
.w33per{width:33%;}
.w25per{width:25%;}
.w20per{width:20%;}
.w30px{width:30px;}
.w50px{width:50px;}
.w80px{width:80px;}
.w120px{width:120px;}
.taright{text-align: right;}
.taleft{text-align: left;}
.tacenter{text-align: center;}
.bgddd{background-color: #DDD;}
.bgeee{background-color: #EEE;}
.bgfff{background-color: #FFF;}
.bgtrsp{background-color: transparent;}
.displaynone{display: none;}
.displaytable{display: table;}
.displaytablecell{display: table-cell;}
.vtalgtop{vertical-align:top;}
.vtalgmiddle{vertical-align:middle;}
.vtalgbottom{vertical-align:bottom;}
.bordernone{border:none;}
.fwnormal{font-weight: normal;}
.mgr5px{margin-right:5px;}
.mgb5px{margin-bottom: 5px;}
.mgt10px{margin-top: 10px;}
.mgb10px{margin-bottom: 10px;}
.pdl10px{padding-left:10px;}
.pdr10px{padding-right:10px;}
.floatleft{float:left;}
.clearboth{clear:both;}
.cursorpointer{cursor:pointer};
.textdeconone{text-decoration: none;}
.img16x16{width:16px; height:16px;}
.img24x24{width:24px; height:24px;}
.img32x32{width:32px; height:32px;}
.img64x64{width:64px; height:64px;}
.strong{font-weight: bold;}
.relative{position: relative;}
.absolute{position: absolute;}
.fixed{position: fixed;}
