@charset "UTF-8";

/*----------------------*/
body {
	background: #fff;
	color: #003d4c;
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	line-height: 1.5em;
	font-size:90%;
	margin: 0;
	word-wrap:break-word;
}

table{
	border-collapse: collapse;
}

td,th{
	vertical-align: middle;
	margin:0;
	padding: 2px;
}

hr{
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #AAA;
}

textarea{
	width:90%;
	height:5em;
}

/*----------------------*/
#container{
	padding:0.5em;
}

/*----------------------*/
.header_title{
	font-size:100%;
}

.every_other_row_odd tr:nth-child(2n-1) {
  background: #eee;
}
.every_other_row_even tr:nth-child(2n) {
  background: #eee;
}

.actions a{
	background: #DDD -moz-linear-gradient(center top , #EEE, #DDD) repeat scroll 0 0;
	border: 1px solid #BBB;
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
	color: #333;
	font-weight: normal;
	min-width: 0;
	padding: 2px;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFF;
}
.actions a:hover{
	background: #EEE none repeat scroll 0 0;
	border-color: #AAA;
	text-decoration: none;
}

.error_message{
	color:#C33;
}

.user_photo{
	height:65px;
}
.user_photo_min{
	height:30px;
}

.fav_album{
	cursor: pointer;
}

.fav_track{
	cursor: pointer;
}

.album_search_result{
	border:1px solid #AAA;
	margin:0.5em 0;
	padding: 0.5em;
	border-radius:0.5em;
}
.album_search_result:hover{
	background-color: #FED;
}

.album_search_cover_result{
	border:5px solid #FFF;
	margin:0.2em;
	width:65px;
}
.album_search_cover_result:hover{
	border:5px solid #3C3;
}

.pager{
	text-align: center;
}

/*----------------------*/
#id_itunes_search_results{
	display: none;
	overflow: hidden;
}

/*----------------------*/
.w100per{width:100%;}
.w50per{width:50%;}
.w25per{width:25%;}
.w20per{width:20%;}
.taright{text-align: right;}
.taleft{text-align: left;}
.tacenter{text-align: center;}
.bgddd{background-color: #DDD;}
.bgeee{background-color: #EEE;}
.bgfff{background-color: #FFF;}
