@charset "UTF-8";

/** media query max-width:900px */
@media only screen and (max-width:900px){

	body {
		font-size:88%;
	}

	.user_info .cover{
		width:100px;
	}
	.user_info .cover img{
		width:90px;
	}
}

/** media query max-width:700px */
@media only screen and (max-width:700px){

	/* review_list */
	.review_list{
		display: block;
	}
	.review_list .album_info{
		width:100%;
		border:none;
		border-top:1px solid #ACD;
		margin:0px;
		border-radius: initial;
	}
	.review_list .album_info:last-child{
		border-bottom:1px solid #ACD;
	}

	/* review_list */
	.user_list .user_info{
		width:48%;
		width:-webkit-calc(50% - 2px);
		width:calc(50% - 2px);
	}
	.user_info .cover{
		width:80px;
	}
	.user_info .cover img{
		width:70px;
	}
}

/** media query max-width:480px */
@media only screen and (max-width:480px){

	/*---------*/
	h1,h2,h3,h4,h5,h6{margin: 0.2em 0;}

	/* .header */
	.header{
		padding:2px;
	}
	.header_title{
		background-image: url("../img/headphone_icon_mini.png");
		background-position: left center;
		height:40px;
		padding-left:25px;
	}

	/* .menu */
	.menu img{
		width:16px;
		height:16px;
	}
	.menu_block{
		font-size:90%;
	}

	/* .search_tab */
	.search_tab img{
		width:20px;
		height:20px;
	}
	.search_tab div.tab {
		padding:2px;
	}
	.search_tab div.search_type {
		padding:5px;
	}
	.search_tab div.tabContent {
		padding: 3px;
	}
	.search_tab ul.search_index li a {
		width:2em;
		padding: 2px 4px;
	}

	/* .pagination */
	ul.pagination li a {
		padding: 3px 8px;
	}

	/* .info */
	.info{
		padding:5px;
	}

	/* .reaction_area */
	.reaction_area img{
		width:14px;
		height:14px;
	}

	/* .review_comment */
	.review_comment{
		padding: 10px 0;
	}

	.user_list .user_info{
		width:100%;
		border:none;
		border-top:1px solid #ACD;
		margin:0px;
		border-radius: initial;
	}
	.user_list .user_info:last-child{
		border-bottom:1px solid #ACD;
	}

	/* .user_info */
	.user_info{
	}
	.user_info:last-child{
	}
	.user_info .cover{
		width:70px;
	}
	.user_info .cover img{
		width:60px;
	}
	.user_info .detail{
		padding-left:5px;
	}

	/* .album_info */
	.album_info{
		padding: 10px 5px;
	}
	.album_info .cover{
		width:80px;
	}
	.album_info .cover img{
		width:80px;
	}
	.album_info .detail{
		padding: 5px;
	}
	.album_info .detail img{
		width:24px;
		height:24px;
	}
	.album_info .reviews{
		padding: 5px;
		width:50px;
	}

	/* album_cover */
	.album_cover {
		width:80px;
	}
	.album_cover img {
		margin:3px;
		width:64px;
		height: auto;
	}

	/* .tags_ */
	.tags_group{
		padding:0 5px;
	}
	.tags_form{
		padding:0 5px
	}

	/* .track_info */
	.track_info{
		padding:5px;
	}
	.track_info .fav{
		width: 60px;
	}
	.track_info .fav img{
		width:20px;
		height:20px;
	}

	/* .user_menu_list */
	.user_menu_list_block{
		font-size:80%;
	}

	/* .user_photo */
	.user_photo{
		width:70px;
		padding: 3px;
	}
	.user_photo img{
		width:60px;
		height:auto;
		border-radius: 3px;
	}

	/* .user_edit */
	.user_edit_menu div.active{
		background: rgba(255,255,255,0.7);
		border-bottom:none;
	}
	.user_edit_area{
		padding:5px;
		margin: 0;
		background: rgba(255,255,255,0.7);
		border-radius: 0 0 5px 5px;
		border:1px solid #CCC;
		border-top:none;
	}

	/* .link_page_top */
	.link_page_top{
		bottom: 40px;
	}
	.link_page_top img{
		width:24px;
		height:24px;
	}

}

@media only screen and (max-width:320px){
	.menu_block .text{
		display:none;
	}

	.user_menu_list_block .text{
/*		display:none;*/
	}
}
