@charset "UTF-8";

/** media query max-width:480px */
@media only screen and (max-width:480px){

	body {
		font-size:90%;
	}

	/*---------*/
	h1,h2,h3,h4,h5,h6{margin: 0.2em 0;}

	/* .header */
	.header{
		padding:2px;
	}
	.header_title{
		background-image: url("../img/headphone_icon_mini.png");
		background-position: left center;
		height:40px;
		padding-left:25px;
	}

	/* .menu */
	.menu img{
		width:16px;
		height:16px;
	}
	.menu_block{
		font-size:80%;
	}

	/* .search_tab */
	.search_tab img{
		width:20px;
		height:20px;
	}
	.search_tab div.tab {
		padding:2px;
	}
	.search_tab div.search_type {
		padding:5px;
	}
	.search_tab div.tabContent {
		padding: 3px;
	}
	.search_tab ul.search_index li a {
		width:2em;
		padding: 2px 4px;
	}

	/* .info */
	.info{
	}

	/* album_cover */
	.album_cover {
		width:80px;
	}
	.album_cover img {
		margin:3px;
		width:64px;
		height: auto;
	}

	/* .user_menu_list */
	.user_menu_list_block{
		font-size:80%;
	}

	/* .user_photo */
	.user_photo{
		width:70px;
		padding: 3px;
	}
	.user_photo img{
		width:60px;
		height:auto;
		border-radius: 3px;
	}

	/* .user_edit */
	.user_edit_menu div{
		padding:5px;
		margin: 0 5px;
		background: rgba(230,230,230,0.7);
		border-radius: 5px 5px 0 0;
		border:1px solid #CCC;
		text-align:center;
		font-size:90%;
	}
	.user_edit_menu div.active{
		background: rgba(255,255,255,0.7);
		border-bottom:none;
	}
	.user_edit_area{
		padding:5px;
		margin: 0;
		background: rgba(255,255,255,0.7);
		border-radius: 0 0 5px 5px;
		border:1px solid #CCC;
		border-top:none;
	}

	/* .link_page_top */
	.link_page_top{
		bottom: 40px;
	}

}

@media only screen and (max-width:320px){
	.menu_block .text{
		display:none;
	}

	.user_menu_list_block .text{
		display:none;
	}
}
