@charset "UTF-8";

/*----------------------*/
*{margin:0;padding:0;}

body {
	background: #fff;
/*	color: #003d4c;*/
    background-image: url("../img/noisy-texture-a50.png");
    text-shadow: 0px 0px 3px #DDD;
	color: #012;
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	line-height: 1.5em;
	font-size:90%;
	margin: 0;
	word-wrap:break-word;
}

h1,h2,h3,h4,h5,h6{font-size: 125%;margin: 0.4em 0;}

h2{font-size: 125%;color:#D30;}
h3{font-size: 120%;color:#267;}
h4{font-size: 115%;color:#993;}
h5{font-size: 110%;}
h6{font-size: 105%;}

a{color:#06C;font-weight: bold;text-decoration: none;}
a:hover{color:#C50;text-decoration: underline;}

p{padding:3px 0;}

table{border-collapse: collapse;}

tr{}

td,th{
	vertical-align: top;
	margin:0;
	padding:3px 2px;
}

hr{
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #AAA;
}

textarea{
	width:90%;
	height:5em;
	font-size:100%;
	font-family:transparent;
	padding:0.3em;
}

input{max-width: 100%;}

input[type="text"],input[type="password"], textarea{
	clear: both;
	font-family: "frutiger linotype","lucida grande","verdana",sans-serif;
	font-size: 100%;
	padding: 1%;
	width: 97%;
}

img{max-width: 100%;}

ul,ol,dl{list-style:none;}
li{display:list-item;zoom:normal;}

/*----------------------*/
#container{padding:5px;}

/*----------------------*/
/* .header */
.header{padding:0.2em;margin: 0;}
.header ul:after {
	content:"";
	clear:both;
	display:block;
}
.header ul li {
	display:block;
	float:left;
	height:auto;
	list-style-type:none;
}
.header ul li {width:50%;}
.header_title{
    font-size:100%;
    background-image: url("../img/headphone_icon_S.png");
    background-repeat: no-repeat;
    height: 50px;
    padding: 18px 0  0 55px;
    margin: 0
}
.header_title a{text-decoration: none;}

/* .menu */
.menu{
	margin: 0px -5px 10px;
	/*border-top: 1px solid #EEE;*/
                  /*border-bottom: 1px solid #EEE;*/
	/*background-color: #EEE;*/
}
.menu ul:after {
	content:"";
	clear:both;
	display:block;
}
.menu ul li {
	display:block;
	float:left;
	height:auto;
	list-style-type:none;
	text-align:center;
}
.menu ul li {width:25%;}
.menu ul li:hover {}
.menu ul li a {text-decoration: none;}

/* .user_menu_list */
.user_menu_list {
    vertical-align: middle;
}
.user_menu_list li {
    display: inline-block;
}
.user_menu_list li.reviews:before{ content: url("../img/headphone_icon_mini.png"); }
.user_menu_list li.fav_tracks:before{ content: url("../img/chk_ylw.png"); }
.user_menu_list li.fav_albums:before{ content: url("../img/star_ylw.png"); }
.user_menu_list li.syncs:before{ content: url("../img/sync_min.png"); }

/* .pagination */
ul.pagination {
	display: inline-block;
	padding: 0;
	margin: 0.5em 0;
}
ul.pagination li {display: inline;}
ul.pagination li a {
	color: black;
	float: left;
	padding: 4px 10px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
}
.pagination li:first-child a {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.pagination li:last-child a {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
ul.pagination li a.active {
	background-color: #4CAF50;
	color: white;
	border: 1px solid #4CAF50;
}
ul.pagination li a:hover:not(.active){background-color: #ddd;}

/* .every_other_row_* */
.every_other_row_odd tr:nth-child(2n-1) {
	/*background: #EFEFEF;*/
	background: rgba(230,230,230,0.5);
	border-bottom:1px solid #DDD;
	border-top:1px solid #DDD;
}
.every_other_row_even tr:nth-child(2n) {
	/*background: #EFEFEF;*/
	background: rgba(230,230,230,0.5);
	border-bottom:1px solid #DDD;
	border-top:1px solid #DDD;
}

/* .search */
dl.search{
	position:relative;
	margin: 6px 0;
}
dl.search dt{
	margin-right:105px;
	padding:8px;
	background-color:#fff;
	border:1px solid #aaa;
	border-radius: 6px 0 0 6px;
}
dl.search dt input[type="text"]{
	font-size: 100%;
	padding:0;
	width:100%;
	height:24px;
	line-height:24px;
	background:none;
	border:none;
}
dl.search dd{
	position:absolute;
	top:0;
	right:0;
}
dl.search dd input[type="submit"]{
	display:block;
	width:100px;
	height:42px;
	color:#fff;
	line-height:40px;
	font-size:100%;
	text-align:center;
	background-color:#494;
	border:none;
	border-radius: 0 6px 6px 0;
}
dl.search dd input[type="submit"]:hover{
	background-color:#4A5;
}

/* .action */
.actions a,
.actions input[type="submit"],
.actions input[type="file"],
.actions button {
	background: #DDD -moz-linear-gradient(center top , #EEE, #DDD) repeat scroll 0 0;
	border: 1px solid #BBB;
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
	color: #333;
	font-size:100%;
	font-weight: normal;
	min-width: 0;
	padding: 2px;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFF;
}
.actions a:hover,
.actions input[type="submit"]:hover,
.actions input[type="file"]:hover,
.actions button:hover {
	background: #EEE none repeat scroll 0 0;
	border-color: #AAA;
	text-decoration: none;
}

/* .user_photo */
.user_photo{height:65px;border-radius: 5px;}
.user_photo_min{height:30px;border-radius: 3px;}

/* .fav_ */
.fav_album{cursor: pointer;}
.fav_track{cursor: pointer;}

/* .album_ */
.album_search_result{
	border:1px solid #AAA;
	margin:0.5em 0;
	padding: 0.5em;
	border-radius:0.5em;
}
.album_search_result:hover{
	background-color: #FED;
}
.album_cover {
	margin:0.2em;
	width:65px;
}
.album_search_cover_result{
	border:5px solid #FFF;
	margin:0.2em;
	width:65px;
}
.album_search_cover_result:hover{
	border:5px solid #3C3;
}

/* .sync_ */
.sync_point_days{
	background: #e99 none repeat scroll 0 0;
	border-radius: 5px;
	color: #FFF;
	font-family: "Gill Sans","lucida grande",helvetica,arial,sans-serif;
	font-weight: bold;
	margin: 5px 0;
	padding: 2px 5px;
}

.tags{
	background: #99E none repeat scroll 0 0;
	border-radius: 5px;
	color: #FFF;
	font-family: "Gill Sans","lucida grande",helvetica,arial,sans-serif;
	font-weight: bold;
	margin: 5px 0;
	padding: 2px 5px;
	white-space: nowrap;
}
.tags a{
	color:#FFF;
}
.tags a:hover{
	color:#FC0;
}

.group{
	padding:0;
	margin:10px 0;
	border:1px solid #AAA;
	border-radius: 5px;
}

.error_message{color:#C33;}

.post_date{color:#678;}

/*----------------------*/
#id_itunes_search_results{
	display: none;
	overflow: hidden;
}
#id_gpm_search_results{
	display: none;
	overflow: hidden;
}

/*----------------------*/
.w100per{width:100%;}
.w50per{width:50%;}
.w25per{width:25%;}
.w20per{width:20%;}
.w30px{width:30px;}
.w50px{width:50px;}
.w80px{width:80px;}
.taright{text-align: right;}
.taleft{text-align: left;}
.tacenter{text-align: center;}
.bgddd{background-color: #DDD;}
.bgeee{background-color: #EEE;}
.bgfff{background-color: #FFF;}
.bgtrsp{background-color: transparent;}
.displaynone{display: none;}
.vtalgtop{vertical-align:top;}
.vtalgmiddle{vertical-align:middle;}
.vtalgbottom{vertical-align:bottom;}
.bordernone{border:none;}
.fwnormal{font-weight: normal;}
